* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}


.container-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 400px;
  max-width: 1000px;
  margin: 0 auto;

}

.container-header {
  text-align: center;
  background-color: #010101;
  width: 100%;
  border-radius: 10px;
  color: #f5f5f5;
  margin: 5px 1px;
  padding: 2px;
}

.container-main-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.container-sidebar {
  display: flex;
  flex-direction: column;
  background-color: #010101;
  border-radius: 10px;
  min-width: 200px;
  max-width: 200px;
  color: #f5f5f5;
  margin: 0 1px;
  padding: 10px 2px;
}

.container-map {
  border-radius: 10px;
  margin: 0 1px;
  margin-left: 10px;
  border: 2px solid #010101;
}
.list-venues{
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.container-venue-card {
  max-width: 190px;
  height: 100px;
  margin: 2px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #d4d4d4;

}
.container-infowindow{
  max-width: 200px;
}


@media screen and (max-width: 600px) {
  .container-main-content{
    flex-direction: column;
  }
  .container-sidebar{
    min-width: 100%;
    max-width: 100%;
  }
  .container-map {
    margin-left: 1px;
  }
}
